{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veggieezee</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <nav class="nav-buttons">
            <a href="{% url 'trade' %}" style="text-decoration: none;">
            <button class="nav-btn">📊 Dashboard</button> </a>
            <a href="{% url 'insights' %}" style="text-decoration: none;">
            <button class="nav-btn">📈 Insights</button> </a>   
        </nav>
        <div class="user-controls">            
            <button class="icon-btn">⚙️</button>
        </div>
</head>
<body>

{% comment %} <h1>Kalimati Tarkari Bazar Price Prediction</h1> {% endcomment %}

<form method="POST">
    {% csrf_token %}

    <label>Vegetable</label>
    <select name="vegetable">
        <option value="potato">Potato</option>
        <option value="tomato">Tomato</option>
        <option value="onion">Onion</option>
    </select>

    <label>Month</label>
    <input type="number" name="month" min="1" max="12" required>

    <label>Year</label>
    <input type="number" name="year" value="2026" required>

    <button type="submit">Predict Price</button>
</form>

{% if price %}
    <h2>Predicted Price: Rs. {{ price }} per kg</h2>
{% endif %}

</body>
</html>
